<!== Search: https://github.com/activerecord-hackery/ransack ==>
<div class="nav">
 <div id="settings"> <%= link_to "Einstellungen", listeners_path %></div>
 <div id="search">
  <%= search_form_for @q do |f| %>
    <%= f.label :name_cont%>
    <%= f.search_field :name_cont %>

    <%= f.submit %>

  <%end%>
  </div>
  <%= render 'layouts/userinterface' %>
</div>

  <%#= content_tag :table do %>
    <%#= content_tag :th, sort_link(@q, :name) %>
  <% #end %>

<div id="feeds">
  <%= render @feed_entries %>
</div>