<!== Search: https://github.com/activerecord-hackery/ransack ==>
<div id="contentnavi">
  <%= search_form_for @q do |f| %>
    <%= f.label :Feed%>
    <%= f.search_field :name_or_summary_cont %>

    <%= f.submit %>

  <%end%>
</div>

<div id="feed_entries">
  <%= render @feed_entries %>
</div>