<h2>Einstellungen</h2>
<h3>Liste der überwachten Seiten<h3>
<ul style="list-style-type:none">
	<% @listener.each do |list| %> 
	<li>
		<ul style="float: left; background-color:green; margin:10px">
			<img src=<%= list.image %> style="margin:10px; float: left" > 
			<a href src=<%= list.url %>> <%= list.title %> </a>  
			<%= list.comment %> | <%= list.tags %>  
		</ul>
		<div style="clear:both" />
	</li>
	<%end%>
<ul>

<p><%= link_to "Feeds Liste", newsmessages_path %></p>