<h2>Einstellungen</h2>
<h3>Liste der überwachten Seiten<h3>
<ul style="list-style-type:none">
	<% @listeners.each do |listener| %> 
	<li>
		<ul style="float: left; background-color:green; margin:10px">
			<img src=<%= listener.image %> style="margin:10px; float: left" >  
			<%= link_to listener.title,listener.url %>
			<%= listener.comment %> | <%= listener.tags %><br />
			(<%= link_to "ändern", edit_listener_path(listener) %>|
			<%= link_to "löschen", listener_path(listener),
				data: { confirm: "#{listener.title} wirklich löschen?" },
				method: :delete %>)			
		</ul>
		<div style="clear:both" />
	</li>
	<%end%>
<ul>

<p><%= link_to "Feeds Liste", newsmessages_path %></p>