<div class="nav"><h2>Feeds</h2>
<p><%= link_to "Einstellungen", listeners_path %></p> </div>
	<%#= form_for(@search) do |f| %>
	<%#= f.label :temp_tags %>
	<%#= f.text_field :temp_tags %>
	<%#= f.submit %>
	<%# end %>

  <% for entry in FeedEntry.order('published_at desc') %>
  <div id="feeds">
    <%= image_tag(entry.listener.image)%>
  	<%=link_to entry.name, entry.url %>
      <div id="comments">
        <%= link_to "Kommentar", new_feed_entry_comment_path(entry) %>
        <%= entry.comments.count %>
      </div>
  </div>
  <% end %>