<!DOCTYPE html>
<html>
<head>
  <title>NewsBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<header>
			<h1>Newsbox</h1>
			<% if user_signed_in? %>
				<div id="headersettings">
					<b><%= current_user.email %></b> <br />
					<%= link_to "Einstellungen", listeners_path %> |
					<%= link_to "Abmelden",  destroy_user_session_path, method: :delete%>
				</div>
			<% end %>
		</header>

		<main>
			<%= yield %>
		</main>

		<% if flash[:alert] %>
			<p id="alert">
			<%= flash[:alert] %>
			</p>	
		<% end %>
		<% if flash[:notice] %>
			<p id="notice">
				<%= flash[:notice] %>
			</p>
		<% end %>
</body>
</html>
