<!DOCTYPE html>
<html>
<head>
  <title>NewsBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<header>
			<h1>Newsbox</h1>
			<% if user_signed_in? %>
				<div id="headersettings">
					<%= image_tag('three115.png',size:'20x20') %>
					<%= link_to "Einstellungen", listeners_path %> <br />
					<%= current_user.email %>
					<%= button_to "Abmelden",  destroy_user_session_path, method: :delete%>
				</div>
			<% end %>
		</header>

		<% if flash[:alert] %>
			<p id="alert">
			<%= flash[:alert] %>
			</p>	
		<% end %>
		<% if flash[:alert] %>
			<p id="alert">
				<%= flash[:alert] %>
			</p>
		<% end %>

		<main>
			<%= yield %>
		</main>

		<div style="clear: both">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> and <a href="http://www.icons8.com" title="Icons8">Icons8</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> are licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</body>
</html>
